{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Register</h5>
            <form>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="registerName" placeholder="name">
                <label for="registerName">First Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="registerLastName" placeholder="Last name">
                <label for="registerLastName">Last Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="registerEmail" placeholder="name@example.com">
                <label for="registerEmail">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="registerEmail" placeholder="Password">
                <label for="registerEmail">Password</label>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
